#title {
    text-align: center;
    padding: 15px;
}

#reform {
    display: block;
    margin:0 auto;
    padding: 15px 20px;
    border-radius: 4px;
    width: 50%;
    background-color: #f7f7f7;
}