#title {
    text-align: center;
    padding: 15px;
}

#reform {
    display: block;
    margin: auto;
    padding: 40px 40px;
    border-radius: 4px;
    width: 50%;
    background-color: #f7f7f7;
}

.login-box1 {
    padding: 16px;
}